__pycache__/
Observability.md
.venv/
.__pycache__


# DVC managed artifacts (all artifacts handled by DVC)
artifacts/

# Keep DVC files but not the actual data/models
!artifacts/.gitkeep

# Log files
logs/
